<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h1>Contact us!</h1>
            <div class="cu-hr"></div>
            <form class="contact-form" action="">
                <input type="text" placeholder="Full Name*" name="name" id="name" required>
                <input type="text" placeholder="E-mail*" name="email" id="email" required>
                <input type="number" placeholder="Phone Number" name="phone" id="phone">
                <textarea name="message" id="message" placeholder="Message*" required></textarea>
                <input type="submit" value="SEND MESSAGE" id="btnSubmit" class="btn">
            </form>
        </div>
        <div class="col-lg-5">
            <h6>Crnković Usluge d.o.o.</h6>
            <p>Director: Željko Crnković</p>
            <p>EU VAT: HR48991099020</p>
            <p>Bank Account: HR6123400091110928782</p>
            <p>Share Capital: 20.000,00 Kn</p>

            <p>Street: Puškarićeva ulica</p>
            <p>House number: 47a</p>
            <p>Postal code: 10250</p>
            <p>City: Zagreb</p>
            <p>Country: Croatia</p>
            <p>Telephone: <a href="tel://+38598776000">+385 98 77 60 00</a></p>
            <p>Email: <a href="mailto:info@cu-bit.com?subject=Contact Web Form">info&#64;cu-bit.com</a></p>
        </div>
    </div>
</div>