<div class="pattern-wrapper">
    <h1 class="display-3 text-center about-title">About us</h1>

    <div class="container">
        <div class="row">
            <div class="md-col-12 about-text">
                <p class="text-center">
                CU-BIT is a consulting company from Croatia, specialized in IT services and business activities including project management,
                software development, software testing, development of IT documentation and providing technical support. The company
                was founded in April 2018 and operates in a network of its partners, both domestic and foreign markets. We 
                build relationships with clients based on our expertise, modern business solutions and previous achieved results. 
                We are focused on establishing long-term business relationship with included data protection and smart solutions in the best interest of our clients. 
                The company currently counts 18 employees, number which is constantly increasing.    
                </p>
            </div>
        </div>
    </div>

    <section class="map-eu">
        <div class="countries">
            <h3 style="color: #161f35;">The markets we operate in</h3>
            <ul>
                <li>Croatia</li>
                <li>Serbia</li>
                <li>United Kingdom</li>
                <li>Slovenia</li>
                <li>Greece</li>
                <li>Germany</li>
                <li>Austria</li>
                <li>Romania</li>
                <li>Montenegro</li>
                <li>Macedonia</li>
                <li>Bosnia and Herzegovina</li>
                <li>Albania</li>
                <li>Switzerland</li>
            </ul>
        </div>
        <div class="svg">
            <img src="images/map.svg" alt="CU-BIT | The markets we operate in" title="CU-BIT | The markets we operate in">
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Our Team</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Zeljko_Crnkovic.jpg" alt="CU-BIT | Željko Crnković" title="CU-BIT | Željko Crnković" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Željko</h5>
                            <p class=" text-capitalize text-muted small">CEO</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Fran_Ivankovic.jpg" alt="CU-BIT | Fran Ivanković" title="CU-BIT | Fran Ivanković" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Fran</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Jadran_Gasparic.jpg" alt="CU-BIT | Jadran Gašparić" title="CU-BIT | Jadran Gašparić" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Jadran</h5>
                            <p class=" text-capitalize user-name text-muted small">Team Leader Analysts</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Filip_Kralj.jpg" alt="CU-BIT | Filip Kralj" title="CU-BIT | Filip Kralj" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Filip</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Business Analyst</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Leo_Fabijanic.jpg" alt="CU-BIT | Leo Fabijanić" title="CU-BIT | Leo Fabijanić" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Leo</h5>
                            <p class=" text-capitalize user-name text-muted small">Team Leader Analysts</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Goran%20Deak%20130x130.jpeg" alt="CU-BIT | Goran Deak" title="CU-BIT | Goran Deak" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Goran</h5>
                            <p class=" text-capitalize user-name text-muted small">Full stack Developer</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Maja_Vuksanic.jpg" alt="CU-BIT | Maja Vuksanić" title="CU-BIT | Maja Vuksanić" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Maja</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Business Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Zvonimir_Stubicar.jpg" alt="CU-BIT | Zvonimir Stubičar" title="CU-BIT | Zvonimir Stubičar" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Zvonimir</h5>
                            <p class=" text-capitalize user-name text-muted small">Team Leader Data Intelligence</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Ivan_Podgorscak.jpg" alt="CU-BIT | Ivan Podgoršćak" title="CU-BIT | Ivan Podgoršćak" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Ivan</h5>
                            <p class=" text-capitalize user-name text-muted small">Team Leader Developers</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Kosic,%20Marko.jpg" alt="CU-BIT | Marko Kosić" title="CU-BIT | Marko Kosić" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Marko</h5>
                            <p class=" text-capitalize user-name text-muted small">Team Leader Security Analysts</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Hayrapetyan,%20Lilit.jpg" alt="CU-BIT | Lilit Hayrapetyan" title="CU-BIT | Lilit Hayrapetyan" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Lilit</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Kolomar,%20Simon.jpg" alt="CU-BIT | Simon Kolomar" title="CU-BIT | Simon Kolomar" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Simon</h5>
                            <p class=" text-capitalize user-name text-muted small">Business Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Thune,%20Mislav.jpg" alt="CU-BIT | Mislav Thune" title="CU-BIT | Mislav Thune" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Mislav</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Business Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Matej_Gregec.jpg" alt="CU-BIT | Matej Gregec" title="CU-BIT | Matej Gregec" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Matej</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Business Analyst</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Marko-Mehkek.jpg" alt="CU-BIT | Marko Mehkek" title="CU-BIT | Marko Mehkek" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Marko</h5>
                            <p class=" text-capitalize user-name text-muted small">Business Intelligence Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Fran-Ljevar.jpg" alt="CU-BIT | Fran Ljevar" title="CU-BIT | Fran Ljevar" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Fran</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Antonio-Ramineli-Kocmut.jpg" alt="CU-BIT | Ramineli Kocmut, Antonio" title="CU-BIT | Ramineli Kocmut, Antonio" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Antonio</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Almer-Andromeda.jpg" alt="CU-BIT | Almer Andromeda" title="CU-BIT |  Almer Andromeda" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Almer</h5>
                            <p class=" text-capitalize user-name text-muted small">Data Intelligence Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Miljenko-Bukovina.jpg" alt="CU-BIT | Miljenko Bukovina" title="CU-BIT | Miljenko Bukovina" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Miljenko</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Iva_Staroveski_Colakovic.png" alt="CU-BIT | Iva Staroveški Čolaković" title="CU-BIT | Iva Staroveški Čolaković" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Iva</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Security Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Marko_Tralic.png" alt="CU-BIT | Marko Tralić" title="CU-BIT | Marko Tralić" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Marko</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Security Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Dejan_Zglavnik.png" alt="CU-BIT | Dejan Zglavnik" title="CU-BIT | Dejan Zglavnik" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Dejan</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Business Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Fran_Borkovic.png" alt="CU-BIT | Fran Borković" title="CU-BIT | Fran Borković" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Fran</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Irena_Ruzela.png" alt="CU-BIT | Irena Ružela" title="CU-BIT | Irena Ružela" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Irena</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Business Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/Matija_Priselac.png" alt="CU-BIT | Matija Priselac" title="CU-BIT | Matija Priselac" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Matija</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Security Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/ar.jpg" alt="CU-BIT | Antonio Rafajec" title="CU-BIT |  Antonio Rafajec" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Antonio</h5>
                            <p class=" text-capitalize user-name text-muted small">Junior Developer</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/MajaAntonovic_.jpg" alt="CU-BIT | Maja Antonović" title="CU-BIT | Maja Antonović" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Maja</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Business Analyst</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/rsz_ivanabrkicc.jpg" alt="CU-BIT | Ivana Brkić" title="CU-BIT | Ivana Brkić" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Ivana</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Analyst</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/stjepanfranicc.jpg" alt="CU-BIT | Stjepan Franić" title="CU-BIT | Stjepan Franić" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Stjepan</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Analyst</p>
                        </div>
                    </div>
                </div>
            </div>
                            
            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/tea_ramineli_kocmut_.jpg" alt="CU-BIT | Tea Ramineli Kocmut" title="CU-BIT | Tea Ramineli Kocmut" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Tea</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Security Analyst</p>
                        </div>
                    </div>
                </div>
            </div>
                    
            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/branko_vidaticc.jpg" alt="CU-BIT | Branko Vidatić" title="CU-BIT | Branko Vidatić" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Branko</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Security Analyst</p>
                        </div>
                    </div>
                </div>
            </div>
                            
            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/petratotar.jpg" alt="CU-BIT | Petra Totar" title="CU-BIT | Petra Totar" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Petra</h5>
                            <p class=" text-capitalize user-name text-muted small">Junior Developer</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/lobel_thune.jpg" alt="CU-BIT | Lobel Thune" title="CU-BIT | Lobel Thune" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Lobel</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Business Analyst</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div class="user-picture">
                            <img src="images/employees/minify/fp.jpg" alt="CU-BIT | Filip Pipić" title="CU-BIT | Filip Pipić" class="shadow-sm rounded-circle" height="130" width="130">
                        </div>
                        <div class="user-content">
                            <h5 class="text-capitalize user-name">Filip</h5>
                            <p class=" text-capitalize user-name text-muted small">Information Technology Security Analyst</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="containter">
        <div class="row">
            <section class="col-md-12 text-center join-us">
                <h3>Do you wish to join us?</h3>
                <a href="#" class="btn">JOIN NOW</a>
            </section>
        </div>
    </div>
</div>