<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>CU-BIT Digital Agency</h1>
                <div class="cu-hr"></div>
                <h1>IT experts on your demand</h1>
                <a href="contact" class="btn hero-cta">CONTACT US!</a>
            </div>
        </div>
    </div>
</section>

<div class="pattern-wrapper">
    <section class="section info">
        <div class="container">
            <div class="row align-items-center">
                <div class="left col-md-5">
                    <div class="tagline">
                        <h3>How it all started</h3>
                        <div class="cu-hr"></div>
                        <p>In 2018 CU-BIT was created with the original idea to offer high quality IT consulting services on EU market. After only few months, our valuable clients started to recognize quality of services offered, and company started it's expansion.</p>
                        <a class="btn" href="about">FIND OUT MORE!</a>
                    </div>
                </div>
                <div class="right col-md-7">
                    <picture>
                        <source srcset="images/mobile/cu-services_mobile.jpg" media="(max-width:480px)">
                        <img src="images/minify/cu-services_800px.jpg" alt="CU-BIT how it all started" title="CU-BIT how it all started" class="img-fluid">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    <section class="section info">
        <div class="container">
            <div class="row align-items-center reverse">
                <div class="left col-md-5">
                    <div class="tagline">
                        <h3>In which direction CU-BIT developed</h3>
                        <div class="cu-hr"></div>
                        <p>During the time, we have confirmed the fact that a high quality service is recognized and appreciated by our clients. In order to keep the quality, we have decided to invest even more into education of our employees, equipment which we are using, and most of all into our employees satisfaction. Our business is growing successfully over the years with the help of our employees.</p>
                        <a class="btn" href="about">FIND OUT MORE!</a>
                    </div>
                </div>
                <div class="right col-md-7">
                    <picture>
                        <source srcset="images/mobile/cu-services-2_mobile.jpg" media="(max-width:480px)">
                        <img src="images/minify/cu-services-2_800px.jpg" alt="CU-BIT In which direction we developed" title="CU-BIT In which direction we developed" class="img-fluid">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    <section class="section info">
        <div class="container">
            <div class="row align-items-center">
                <div class="left col-md-5">
                    <div class="tagline">
                        <h3>Where we are now</h3>
                        <div class="cu-hr"></div>
                        <p>Hard work and dedication led us to success. We are successfully doing business on 8 different markets throughout Europe. Supporting those markets with various IT services, from basic technical support to innovative web design along with thorough software testing and software development.</p>
                        <a class="btn" href="about">FIND OUT MORE!</a>
                    </div>
                </div>
                <div class="right col-md-7">
                    <picture>
                        <source srcset="images/mobile/cu-services-3_mobile.jpg" media="(max-width:480px)">
                        <img src="images/minify/cu-services-3_800px.jpg" alt="CU-BIT where are we now" title="CU-BIT where are we now" class="img-fluid">
                    </picture>
                </div>
            </div>
        </div>
    </section>


    <section class="section info">
        <div class="container">
            <div class="row align-items-center reverse">
                <div class="left col-md-5">
                    <div class="tagline">
                        <h3>What You Can Expect From a CU-BIT Digital Agency</h3>
                        <div class="cu-hr"></div>
                        <p>Navigating a business through the challenges that <a style="position: relative;" href="https://www.techtarget.com/searchdisasterrecovery/The-impact-of-coronavirus-on-business-continuity-planning">COVID-19</a> has presented this year has been difficult, but having a good digital marketing agency on board could be the difference between success and failure.
                        </p>
                        <a class="btn" href="about">FIND OUT MORE!</a>
                    </div>
                </div>
                <div class="right col-md-7">
                    <picture>
                        <source srcset="images/mobile/close-up-image-programer-working-his-desk-office%20(2)%20(1).jpg" media="(max-width:480px)">
                        <img src="images/minify/close-up-image-programer-working-his-desk-office%20(2).jpg" alt="What You Can Expect From a CU-BIT Digital Agency" title="What You Can Expect From a CU-BIT Digital Agency" class="img-fluid">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="text-center">
                <h3>Services</h3>
                <div class="cu-hr"></div>
                <p>Our highly skilled staff is disciplined to work within a range of industries in the dynamic Life Sciences sector, to meet demanding and evolving expectations.</p>
            </div>

            <div class="services-container">
                <a href="services#web-design">
                    <div class="serviceBox">
                        <div class="icon">
                            <i class="fas fa-code"></i>
                        </div>
                        <h2 class="serviceBox-title">Web Design</h2>
                    </div>
                </a>
                
                <a href="services#it-consulting">
                    <div class="serviceBox">
                        <div class="icon">
                            <i class="fas fa-comments"></i>
                        </div>
                        <h2 class="serviceBox-title">IT Consulting</h2>
                    </div>
                </a>
                
                <a href="services#data-management">
                    <div class="serviceBox">
                        <div class="icon">
                            <i class="fas fa-database"></i>
                        </div>
                        <h2 class="serviceBox-title">Data Management</h2>
                    </div>
                </a>
                
                <a href="services#project-management">
                    <div class="serviceBox">
                        <div class="icon">
                            <i class="fas fa-user-tie"></i>
                        </div>
                        <h2 class="serviceBox-title">Project Management</h2>
                    </div>
                </a>
                
                <a href="services#software-testing">
                    <div class="serviceBox">
                        <div class="icon">
                            <i class="fas fa-laptop"></i>
                        </div>
                        <h2 class="serviceBox-title">Software Testing</h2>
                    </div>
                </a>
                
                <a href="services#cloud-services">
                    <div class="serviceBox">
                        <div class="icon">
                            <i class="fa fa-mixcloud"></i>
                        </div>
                        <h2 class="serviceBox-title">Cloud Services</h2>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container text-center">
            <div>
                <h3>Definition of Digital Agencies</h3>
                <p style="color: #2f2f2f;"><a href="https://www.commonplaces.com/blog/what-is-a-digital-agency/">Digital agencies</a> are strategic and creative marketing agencies focused on user experience, 
                    mobile, social, data gathering and analytics apart from providing creative services and 
                    promotional offerings (supported by analytics and optimization of the promotional mix). 
                    Once dominated by communications and promotional activities, digital agencies today help 
                    explore new sources of growth, including market diversification and product ideation and
                    development. Leaders have business transformation consulting skills to help extend core 
                    businesses into the digital world.With most agencies able to work fully remotely 
                    at ease, the performance of these companies is uncompromised by the move to online 
                    working, and they can show you how to do the same.If you’re worried that your 
                    needs might be too complex for anyone to take on during the pandemic then rest 
                    assured that our agency will be accommodating of this.</p>
            </div>
            <hr>
            <div>
                <h3>Willing to work with you</h3>
                <p style="color: #2f2f2f;">A good agency has your best interests at heart and will listen to your feedback, be it 
                    good or bad. Communication is key, and it is important to truly understand what your 
                    goals are as a business, how you want to achieve them and what kind of timescale you 
                    are working towards. While doing work to ensure these expectations are met, it is also 
                    important to be honest and realistic about what can be achieved and when by, to avoid 
                    disappointment.A sense of understanding is key during this time as we slowly 
                    discover just how heavily impacted each individual business is by the change in the 
                    economy, and may be increasingly important over the coming months.</p>
                </div>
            <hr>
            <div>
                <h3>Adapt our package to your needs</h3>
                <p style="color: #2f2f2f;">CU-BIT Digital Agency expects your needs to fluctuate slightly as you discover which 
                    strategies are most effective for your business, but in the current time, these 
                    changes might need to be more significant than usual.You may find that your 
                    business needs have changed entirely since your initial meeting, and that’s ok. 
                    An agency that truly has your back will change and grow with you, making adjustments 
                    to the package on the way. After all, every agency should be testing new techniques to
                    try and maximize the results of your campaigns, so adapting the service to suit you 
                    shouldn’t be a problem.</p>
                </div>
                <hr>
                <div>
                    <h3>Work as an extension of your team</h3>
                    <p style="color: #2f2f2f;">While you may not be sharing offices, or even meeting rooms, a good digital marketing 
                        agency should feel like an extra limb of the team, sharing a common goal and communicating 
                        with other employees. However frequently you agreed, there should be regular and 
                        positive communication between the two of you so that you are aware of any progress or 
                        challenges that the other might be facing at the current time.Last 2,5 years of 
                        <a href="https://www.techtarget.com/searchdisasterrecovery/The-impact-of-coronavirus-on-business-continuity-planning">COVID-19</a> time have been a test for many businesses and flexibility has been an imperative 
                        element of every company as they cope with the change that the pandemic has required.
                    CU-BIT Digital agency is supporting international companies for more than 4 years working 
                    remotely with an ease. We faces many challenges, and overcome them together with our clients. 
                    We will continue to provide best possible service wherever possible
                </p>
            </div>
        </div>
    </section>
</div>