<div class="container">
    <div class="row justify-content-center mb-5 pb-2">
        <div class="col-md-10 heading-section ftco-animate fadeInUp ftco-animated">
            <h2 class="mb-4">Privacy Policy</h2>

            <p>
                By using our services, you consent to process your personal data per this Privacy Policy, as the legal basis on which we process your personal data.
               
                <br>
                <br>
                You can withdraw your consent to process personal data at any time by sending a notification to info&#64;cu-bit.com.
                You can then also remove all cookies located on each device from which you have accessed our website. 
                Your withdrawal of consent will not affect the lawfulness of our processing prior to that withdrawal.<br>
                <br>
                CRNKOVIĆ USLUGE d.o.o., as the processing manager, undertakes to protect your personal data. 
                The collection and storage of data are carried out per the provisions of EU Regulation 2016/679 of the European 
                Parliament and of the Council of 27 April 2016 on the protection of individuals with regard to the processing of 
                personal data and the free movement of such data, the Law on the Implementation of the General Regulation on 
                Data Protection (NN 42/2018) and other regulations governing the subject area and have application in the Republic of Croatia.
                <br>
                CRNKOVIĆ USLUGE d.o.o. has appointed a personal data protection officer who you can contact at any time via e-mail info&#64;cu-bit.com, 
                or by mail to CRNKOVIĆ USLUGE d.o.o., Puškarićeva 47a, 10250 Zagreb, regarding issues related to personal data protection 
                and exercise of the rights guaranteed by the Regulation.
                <br>
                It is essential for us to provide you with the best possible personalised user experience on each device. Therefore, we collect your personal information for these purposes. 
                We want you to understand how your personal information is used and to have control over it.

           
            </p>
            <br>
            <p>This Privacy Policy contains the following information:</p>
            <ul>
                <li>the types of personal data we collect;</li>
                <li>how to use the collected data;</li>
                <li>delivery of data to third parties;</li>
                <li>how to manage cookies;</li>
                <li>external links;</li>
                <li>security of your data;</li>
                <li>your rights regarding the collection and processing of personal data.</li>
            </ul>

            <br>

            <h5 class="mb-4">The types of personal information we collect</h5>
            <p>
                There are two groups of data that we can collect, and they are listed below.

           
            </p>
            <p>
                1.	Information you provide to us voluntarily - when you contact us by e-mail or website, we may keep the information in the records for two years in 
                case we need to contact you about the subject for which you contacted us, to improve operational efficiency and to harassing call management. 
                The information may include your name, address and e-mail address.
           
            </p>

            <p>
                2.	Information we collect about you and your device - When you use our website and use our services, we may use technology 
                 (such as Google Analytics) to collect data about visits to our website, to analyse how we use our website. 
                 The data we may collect for this purpose may include:
           
            </p>
            <ul>
                <li>the type of browser you are using;</li>
                <li>number of visits per browser on each device;</li>
                <li>the type of device and operating system you are using;</li>
                <li>your IP address;</li>
                <li>information on recommendations;</li>
                <li>time zone;</li>
                <li>user settings;</li>
                <li>the pages you have visited.</li>
            </ul>

            <br>

            <h5 class="mb-4">How to use the collected data</h5>
            <p>
                We use the information you provide to us for two purposes: (a) to enable the provision of services - to display the content on our website on the most efficient 
                system on the device on which you accessed the site, to provide marketing information about us and our services, and to inform about changes to the website, 
                and (b) to maintain cybersecurity - to defend our servers from malicious attacks.
                In the event of the possibility of using your personal data for other purposes, we will notify you in advance, 
                and we will allow you to suspend or withdraw consent to the use of your personal data for purposes not previously stated.

           
            </p>

            <br>

            <h5 class="mb-4">Delivery of data to third parties</h5>
            <p>
                CRNKOVIĆ USLUGE d.o.o. shares personal information with others only when permitted.
                We will only share your personal information with other organisations when we have your permission to do so 
                per this Policy or if required for legal reasons related to the website. It is possible to deliver 
                personal data to business entities that provide IT services or to providers of analytical services 
                with which CRNKOVIĆ USLUGE d.o.o.cooperates. A contract shall be concluded with such subjects 
                regarding their powers and obligations in the processing of personal data, per the requirements 
                of the Regulation. In addition to the above, we may disclose your personal information to third parties 
                if required by law or regulation, and to protect the rights, property or safety of users of our website.                   
            </p>
            <br>
            <h5 class="mb-4">How to manage cookies</h5>
            <p>
                Our websites use the so-called cookies to ensure a better user experience and functionality. 
                Cookies are small data files that are stored on your computer, mobile phone or other devices from which you access the website. 
                Cookies make the interaction between you and our website faster and easier. We use cookies to distinguish you from other website users, 
                provide you with a good experience when using the website, and provide you with personalised content.
               
                <br>
                <br>
                You may refuse cookies, and in your web browsers, you may delete cookies and manage general cookie settings, but this may affect your ability to use the website. 
                Rejection of cookies may result in some parts of the website not functioning normally or not being accessible. When using your device, 
                you will come across third parties who use cookies. We are not responsible for these third parties or what they may place on your device or your browser.

           
            </p>
            <br>

            <h5 class="mb-4">External links</h5>
            <p>
                When you use external links on our website, you will be redirected to external domains that may use cookies, over which we have no influence. 
                We do not obtain data collected with the help of cookies and similar technologies on these domains from their owners or managers. 
                For more information about managing cookies on external domains, please check the cookies policy on those domains.
           
            </p>



            <br>
            <h5 class="mb-4">Your rights regarding the collection and processing of personal data</h5>
            <p>
                We at CRNKOVIĆ USLUGE d.o.o. believe that the ability to control personal information is important. 
                You have the right to be informed about the processing of data and its purpose. Therefore, we have developed 
                this Privacy Policy. The law guarantees you the right to request a copy of your personal data that
                we possess, as well as to request the addition, correction or deletion of your personal data, or to 
                send us a request not to process your personal data for marketing purposes. You can exercise this right 
                by sending an e-mail to the e-mail address info&#64;cu-bit.com. Upon receiving your request, we will ask 
                you for proof of your identity by providing us with two different identification documents. 
                Upon identification of you, and upon your request, we will add, correct or delete your personal 
                information contained in our files. 
                <br>
                <br>
                If you wish to complain about the processing of your personal data, please contact us in advance.
                If you wish to stop using our website, you can do so, in which case you can remove the cookies we have placed on the devices from which the website was accessed.

           
            </p>

            <br>
            <h5 class="mb-4">We want to hear your opinion</h5>
            <p>
                All your questions, comments and requests regarding this Privacy Policy are welcome. You can contact us by sending an e-mail to info&#64;cu-bit.com.
            </p>

            <br>
            <br>
            <h5 class="mb-4">IMPRESSUM</h5>
            <p>
                The owner and publisher of this web page, responsible for its content:<br>
                CRNKOVIĆ USLUGE d.o.o.<br>
                Puškarićeva 47a<br>
                10250 Zagreb<br>
                Tel. +385 (0) 98 776 000<br>
                e-mail: info&#64;cu-bit.com

           
            </p>

            <br>
            <h5 class="mb-4">Disclaimer</h5>
            <p>
                The author accepts no responsibility for the content, correctness, completeness, or quality of the information provided. 
                Liability claims against the author relating to material or non-material damage caused by the use or non-use of the information 
                provided or by the use of incorrect or incomplete information are excluded as a matter of principle, 
                insofar as there is no demonstrable intentional or grossly negligent fault on the part of the author. 
                The author expressly reserves the right to change, supplement, or delete parts of the pages or the entire web page 
                without prior notice or temporarily or permanently discontinue publication. Unless otherwise stated, texts, images, and graphics 
                may be subject to copyright protection and other protective laws. 
           
            </p>

            <br>
            <h5 class="mb-4">References and links to third-party websites</h5>
            <p>
                In the case of direct or indirect references to external websites ("hyperlinks") that lie outside the author's area of responsibility, 
                a liability obligation would only come into force if the author had knowledge of the content, and it would be technically possible and reasonable 
                for him to prevent use in the case of illegal content. The author hereby expressly declares that at the time the links were created, no illegal 
                content was discernible on the linked pages. The author has no influence on the linked pages' current and future design, content, or authorship. 
                For this reason, the author hereby expressly distances itself from all contents of all linked pages that were changed after the link was created. 
                This statement applies to all links and references set within the author's own web page as well as to external entries in discussion forums, 
                link directories, mailing lists and all other forms of databases set up by the author to which external write access is possible. 
                Liability for illegal, incorrect or incomplete content and in particular for damage arising from the use or non-use of such information 
                lies solely with the provider of the page to which reference is made and not with the person who merely refers to the respective publication via links.
           
            </p>

        </div>
    </div>
</div>