<footer class="footer section">
    <div class="container">
        <div class="row col-md-12 text-center logo-center-footer">
            <a href="#">
                <img src="images/logo-cubit-white.svg" width="170" alt="cu-bit">
            </a>
        </div>
        <div class="row col-md-12 text-center">
            <div class="col-md-4">
                <div class="widget">
                    <h4 class="widget-title">About</h4>
                    <div class="about-widget">
                        <p><a href="about">CU-BIT</a></p>
                        <p><a href="contact">Contact</a></p>
                        <p><a href="services">Services</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget">

                    <h4 class="widget-title">Contact
                    </h4>
                    <div class="about-widget">
                        <p>Crnković Usluge d.o.o.</p>
                        <p>
                           Puškarićeva ulica 47a
                            <br>
                            10250 Zagreb, Croatia
                        </p>
                        <p> <a href="tel://+38598776000"> +385 98 77 60 00</a></p>
                        <p> <a href="mailto:info@cu-bit.com?subject=Contact Web"> info&#64;cu-bit.com </a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget">

                    <h4 class="widget-title">Legal
                    </h4>
                    <div class="about-widget">
                        <p><a href="privacy">Privacy</a></p>
                    </div>
                    <div class="about-widget">
                        <p><a href="upload/CU-BIT - Code Of conduct.pdf">Code of conduct</a></p>
                    </div>
                    <div class="about-widget">
                        <p><a href="upload/Pravilnik_o_radu_Rev_25_04_2024.pdf">Work regulations document</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    

    <div class="row footer-bottom">
        <div class="col-md-12 text-center">
            <div class="footer-social">
                <div>
                    <a class="social-icon" target="_blank" itemprop="sameAs" href="https://www.facebook.com/CUBITagency"><i class="fab fa-facebook-f"></i></a>
                    <a class="social-icon" target="_blank" itemprop="sameAs" href="https://www.linkedin.com/company/cubit-agency/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" target="_blank" itemprop="sameAs" href="mailto:info@cu-bit.com?subject=Contact Web"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
            <div class="footer-copy">
                <p>
                    Copyright © 2025 Crnković Usluge d.o.o.
                </p>
            </div>
        </div>
    </div>
</footer>