<div class="pattern-wrapper">
    <h1 class="text-center">Services</h1>

    <div class="services-wrapper">
        <div id="web-design" class="row web-design">
            <div class="col-md-5 text-wrapper">
                <div class="text-container">
                    <h3>Web Design</h3>
                    <p>
                        HTML, CSS, Java/JavaScript , CMS , E-commerce – We are here to ensure
                        you don’t have to look any further! If you need a modern responsive website
                        that will have great performance on every device with innovative animations
                        for the best UX, then you have arrived at the right place. By fully understanding
                        your requirements and asking the right questions
                        we assure you that your project will come to life in no time.
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/Services/services-png/web-design.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/Services/services-png/web-design.png" alt="CU-BIT Services - Web Design" title="CU-BIT Services - Web Design">
                </picture>
            </div>
        </div>

        <div id="it-consulting" class="row it-consulting">
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/Services/services-png/it-consulting.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/Services/services-png/it-consulting.png" alt="CU-BIT Services - IT Consulting" title="CU-BIT Services - IT Consulting">
                </picture>
            </div>
            <div class="col-md-5 text-wrapper">
                <div class="text-container">
                    <h3>IT consulting</h3>
                    <p>
                        We’ll get to know you and your business and build an ICT strategy that
                        fits seamlessly with your business culture and goals. We make technology work hard for
                        your business. The solutions we’ll recommend will be totally aligned with your objectives, to
                        support your growth and overall success. Our team has a wealth
                        of commercial and technical ability and will be on-hand to share their expertise.
                    </p>
                </div>
            </div>
        </div>

        <div id="project-management" class="row project-management">
            <div class="col-md-5 text-wrapper">
                <div class="text-container">
                    <h3>IT Project management</h3>
                    <p>
                        „Project management is the use of specific knowledge, skills, tools and techniques to deliver
                        something of value to people.” Driven by that our team will make sure that your idea is brought
                        to life with ease. With experience that we possess along with the
                        knowledge, your project will be in good hands. Delivered in time with lowest cost possible.
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/Services/services-png/it-project-management.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/Services/services-png/it-project-management.png" alt="CU-BIT Services - IT Project management" title="CU-BIT Services - IT Project management">
                </picture>
            </div>
        </div>

        <div id="data-management" class="row data-management">
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/Services/services-png/data-management.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/Services/services-png/data-management.png" alt="CU-BIT Services - Data management" title="CU-BIT Services - Data management">
                </picture>
            </div>
            <div class="col-md-5 text-wrapper">
                <div class="text-container">
                    <h3>Data management</h3>
                    <p>
                        We are here to help you incorporate data-driven decision-making to improve your business and 
                        help him scale even more. Our years of experience and knowledge of systems implementation will 
                        help you achieve greater profitability, greater return on investment (ROI), and reduce total cost 
                        of ownership (TCO). After analyzing your business operations and identifying your needs, we create a 
                        system that will give you improved operational control, help you respond faster to change, help you 
                        monitor key performance indicators (KPI) and the independence of business users when creating reports, 
                        and improve your cost management. After successful implementation of ICT services, we continuously perform 
                        system administration and provide all necessary support for its use.
                    </p>
                </div>
            </div>
        </div>

        <div id="software-testing" class="row software-testing">
            <div class="col-md-5 text-wrapper">
                <div class="text-container">
                    <h3>Software testing</h3>
                    <p>
                        In addition to all our expertise, we also provide software testing services for both manual and automatic testing.
                        The benefit of manual testing is that it allows a human mind to draw insights from a test that might otherwise be missed by test automation.
                        However, Automated testing is done through an automation tool, so more time can be spent on higher value tasks, such as exploratory tests while automating
                        time-consuming tests, such as regression tests.  It will increase your test coverage and scalability.
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/Services/services-png/software-testing.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/Services/services-png/software-testing.png" alt="CU-BIT Services - Software testing" title="CU-BIT Services - Software testing">
                </picture>
            </div>
        </div>

        <div id="software-reselling" class="row software-reselling">
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/Services/services-png/retail-software-reselling.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/Services/services-png/retail-software-reselling.png" alt="CU-BIT Services - Retail software reselling">
                </picture>
            </div>
            <div class="col-md-5 text-wrapper">
                <div class="text-container">
                    <h3>Retail software reselling</h3>
                    <p>
                        If you would like to have a licensed software and save some money in the same time, you can do 
                        both. We are offering software under retail prices which are unbeatable. On top of that, we 
                        are providing extra discounts on larger orders.
                    </p>
                </div>
            </div>
        </div>

        <div id="cloud-services" class="row cloud services">
            <div class="col-md-5 text-wrapper">
                <div class="text-container">
                    <h3>Cloud services</h3>
                    <p>
                        We provide hosting solutions to suit the needs of all individuals and businesses. These include, shared hosting and virtual private servers
                        (VPS), right up to managed
                        dedicated servers and enterprise cloud solutions.
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/Services/services-png/cloud-services.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/Services/services-png/cloud-services.png" alt="CU-BIT Services - Cloud services" title="CU-BIT Services -Cloud services">
                </picture>
            </div>
        </div>

        <div id="business-inteligence" class="row business-inteligence">
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/Services/services-png/business-inteligence.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/Services/services-png/business-inteligence.png" alt="CU-BIT Services - Business Inteligence" title="CU-BIT Services - Business Inteligence">
                </picture>
            </div>
            <div class="col-md-5 text-wrapper">
                <div class="text-container">
                    <h3>Business Inteligence</h3>
                    <p>
                        Using Power BI our team is able to create all kind of dashboards, charts and reports. Analyzing data and delivering actionable information
                        will help your company to make strategic business decisions that increase productivity, improve revenues, and
                        enhance growth.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="hire-us text-center">
        <a href="contact" class="btn">HIRE US <i class="fas fa-arrow-right"></i></a>
    </div>
</div>