<div class="pattern-wrapper">
    <h1 class="display-3 text-center my-5">News</h1>

    <div class="services-wrapper">
        <div id="pb33" class="row pb33">
            <div class="col-md-5">
                <div class="text-container">
                    <p>
                        CU-BIT Digital Agency is a proud sponsor of pasionska baština. For more information about the program, please visit the link.
                    </p>
                    <p><a href="upload/PB%2033.%20Program.pdf">PB 33. Program.pdf</a></p>
                </div>
            </div>
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/news/PB33.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/news/PB33.png" alt="CU-BIT Pasionska Baština" title="CU-BIT Pasionska Baština">
                </picture>
            </div>
        </div>

        <div id="jaska-futsal" class="row jaska-futsal">
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/news/Zahvalnica%20MNK%20Jaska%2012-2023.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/news/Zahvalnica%20MNK%20Jaska%2012-2023.png" alt="CU-BIT News - Jaska futsal" title="CU-BIT News - Jaska futsal">
                </picture>
            </div>
            <div class="col-md-5">
                <div class="text-container">
                    <p>
                        CU-BIT Digital Agency is proud sponsor of futsal tournament in Jaska, Croatia in December, 2023.
                    </p>
                </div>
            </div>
        </div>

        <div id="education-support" class="row education-support">
            <div class="col-md-5">
                <div class="text-container">
                    <p>
                        CU-BIT Digital Agency is  proud to be able to support all the great work that is done by employees of private primary school Lotrščak from Zagreb.
                    </p>
                    <p>
                        In August, school has received a donation of WiFi Access Points and several Epson projectors that is going to be used in new classes by teachers and students.
                    </p>
                    <p><a href="https://www.facebook.com/Lotrscak">https://www.facebook.com/Lotrscak</a></p>
                </div>
            </div>
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/news/os_Lotrscak.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/news/os_Lotrscak.png" alt="CU-BIT Services - OS Lotrscak" title="CU-BIT Services - OS Lotrscak">
                </picture>
            </div>
        </div>
        <div id="announcement" class="row announcement">
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/news/news4_milestone.gif" media="(max-width:470px)">
                    <img class="services-img" src="./images/news/news4_milestone.gif" alt="CU-BIT Milestone - 30+ employees" title="CU-BIT Milestone - 30+ employees">
                </picture>
            </div>

            <div class="col-md-5">
                <div class="text-container">
                    <p>
                        We are celebrating a new milestone!<br>
                        CU-BIT now employs 30+ employees!!<br>
                        Congratulations to all the newcomers!!!<br>
                        Special thanks to our dear clients who have recognized the quality of IT and business services provided by our agency.
                        Thank you for using our services.
                    </p>
                </div>
            </div>

        </div>


        <div id="web-design" class="row web-design">
            <div class="col-md-5">
                <div class="text-container">
                    <p>
                        We are happy to celebrate first ever SQL Basics education developed and organized inside of CU-BIT.
                        Special thanks to our internal educator Mr. Zvonimir Stubicar for his effort!
                        We will offer education to all interested individuals and companies in future.
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/news/news2.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/news/news2.png" alt="CU-BIT Services - IT Consulting" title="CU-BIT Services - IT Consulting">
                </picture>
            </div>
        </div>

        <div id="it-consulting" class="row it-consulting">
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/news/news1.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/news/news1.png" alt="CU-BIT Services - Web Design" title="CU-BIT Services - Web Design">
                </picture>
            </div>
            <div class="col-md-5">
                <div class="text-container">
                    <p>
                        Employees are essential part of every company.
    They are the necessary wheel that spins all the smaller parts and is making the company successful.
    Inside of CU-BIT digital agency, all employees are recognized and are having various job benefits.Recently CU-BIT was part of SME EnterPRIZE project.
    SME EnterPRIZE is a flagship project designed to
    promote a culture of sustainability among European SMEs.
    It has the goal of inspiring SMEs to develop sustainable business models and stimulating the debate on the topic.
                    </p>
                    <p>
                        Through SME EnterPRIZE Generali aims to:<br>
                    </p>
                    <ul>
                        <li>Create a pan-European platform to give visibility to Sustainable SMEs</li>
                        <li>Stimulate the debate on the importance of Sustainability for SMEs promoting a research on this topic</li>
                        <li>Reward the best success stories, inspiring small and medium entrepreneurs to develop sustainable business models in three areas: environment, welfare and community</li>
                        <p></p>
                    </ul>
                    <p>
                        CU-BIT digital agency (also known as Crnković usluge d.o.o.) has won 2nd place out of 100 candidates from Croatia in category "Employee welfare".
                    </p>
                </div>
            </div>
        </div>

        <div id="project-management" class="row project-management">
            <div class="col-md-5">
                <div class="text-container">
                    <p>
                        Affecting environment is a strong topic between every company.We are very proud to present latest company investment.
                        Our company is now powered with 10 kW solar power plant where we have switched to usage of renewable source of energy, our Sun.
                        With this decision and investment we have covered power supply for all of our computers, entire office equipment and air-condition devices.<br>
                        <a href="https://lnkd.in/dv5W2rUz">More about project</a>
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <picture>
                    <source srcset="./images/news/news3.png" media="(max-width:470px)">
                    <img class="services-img" src="./images/news/news3.png" alt="CU-BIT Services - IT Project management" title="CU-BIT Services - IT Project management">
                </picture>
            </div>
        </div>
    </div>
</div>